<section class="post">
  <article>
    <h2>
      <a href="<%= @post.external_url %>">
        <%= @post.title %>
      </a>
      <span class="timestamp"><time><%= AnnotatexWeb.SharedView.display_date(@post) %></time></span>
    </h2>
    <div class="post-body"><%= raw @post.body %></div>
    <div><%= render AnnotatexWeb.SharedView, "tags.html", taggings: @post.taggings %></div>
  </article>
</section>
