
<section class="links-list">
<%= for link <- @links do %>
  <article>
    <h2>
      <a href="<%= link.external_url %>">
        <%= link.title %>
      </a>
      <span class="timestamp"><time><%= link.inserted_at %></time></span>
    </h2>
    <div><%= link.commentary %></div>
    <div><%= link.tags %></div>
    <div><%= link "Permalink", to: link_path(@conn, :show, link) %></div>
  </article>
<% end %>
</section>
